.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100px + 25vw);
  border-radius: 26px;
  box-shadow:  24px 24px 48px #202020,
              -24px -24px 48px #383838;
}

@media (max-width: 800px) {
  .overlay {
    width: 100%;
  }
} 

.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 10% 5% 10% 5%;
  gap: 1rem;
}

.formItem {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}