
.navbar {
    display: flex;
    align-items: center;
    background-color: #6a9cce;
    min-width: 99vw;
}
  
.navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navitem {
    margin-right: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.navitem:hover {
    cursor: pointer;
    background-color: #8ab4de;
    border-radius: 5px;
    transition: background-color 0.5s;
}
